.logo {
  height: 130px;
}

.navbar {
  font-size: 1.2em;
}

.btn {
  font-size: 1.1em;
}

.portal {
  background-color: #FFD700;
}

.enroll {
  background-color: #FFD700;
}

.enroll:hover, .portal:hover {
  background-color: #FFD700;
  border: 1px solid #13325B;
  
}

.nav-link:hover {
  text-decoration: underline;
}

/* App.css */

/* Center dropdown items */
.dropdown-menu {
  text-align: center; /* Center-align the text */
}

.dropdown-menu li {
  display: inline-block; /* Display list items inline */
}
